{%extends 'base.html'%}

{% block content %}

  <form method="post">
        <p>
            <label for="cargo_id">货物号</label>
            <input name="cargo_id" id="cargo_id"  style="width:150px;" required>
        </p>
        <p>
            <label for="time">时间</label>
            <input name="time" id="time" style="width:165px;" required>
        </p>
        <p>
            <label for="origin">来源</label>
            <input name="origin" id="origin" style="width:165px;" required>
        </p>
            <label for="direction">去处</label>
            <input name="direction" id="direction" style="width:165px;" required>
        <p>
            <label for="duty_man">负责人</label>
            <input name="duty_man" id="duty_man" style="width:150px;"  required>
        </p>
        <input type="submit" value="登记">
  </form>
{% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
{% endblock %}
