{%extends 'base.html'%}

{%block header%}
    <style type="text/css">
    div{
        width: 700px;
        height: 200px;
        right: -50%;
    }
    .center-in-center{
        -webkit-transform: translate(-42%, -40%);
        -moz-transform: translate(-42%, -40%);
        -ms-transform: translate(-42%, -40%);
        -o-transform: translate(-42%, -40%);
         transform: translate(-42%, -40%);

    }
</style>
<h1>{% block title %}welcome to dormitory Manage system{% endblock %}</h1>
{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
{% endfor %}
{% endblock %}